__pycache__/
.DS_Store

sample_pedestrians.mp4

output/*
!output/.gitkeep
outputs/*
!outputs/.gitkeep
models/*
!models/.gitkeep
batch_jobs/*
!batch_jobs/.gitkeep

requirements.txt

.gradio/*

bin/*
!bin/.gitkeep